# Gentoo specific files
# - Ignore the Profile directory
profiles
# - Ignore the Metadata directory
metadata
# - Ignore the E-Build Manifests
**/Manifest

# LFS Files
# - Ignore compressed files
**/*.tar.xz
**/*.tar.gz

# LaTeX Specific files
# - Ignore LaTeX output folder(s)
**/build
# - Ignore Sync TeX files
**/*.synctex.gz
**/*.synctex.gz(busy)
**/*.tmp-saving
# - Ignore Output files
**/*.pdf
