[Unit]
Description=Gitlabhq @SLOT@ target.
# gitlabhq-@SLOT@-@WEBSERVER@ is already required by gitlab-workhorse
Requires=gitlabhq-@SLOT@-workhorse.service gitlabhq-@SLOT@-sidekiq.service
Wants=gitlabhq-@SLOT@-gitaly.service
# Add Wants symlinks to postgresql-12.service should to be added to
#   /etc/systemd/systemd/gitlabhq.target.wants
@OPTIONAL_WANTS@

[Install]
WantedBy=multi-user.target
Alias=gitlabhq.target
