[Unit]
Description=Gitlab temp dir

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo -u git mkdir -p /var/tmp/gitlabhq-9.2/pids
ExecStop=

[Install]
WantedBy=multi-user.target