#####################################################
#
# GitLab version    : 9.x - 
# Contributors      : andries van schie
#
####################################################

[Unit]
Description=Gitlab Gitaly handles Gitlab RPC calls.
Wants=gitlabhq-@SLOT@-unicorn.service
After=gitlabhq-@SLOT@-unicorn.service
PartOf=gitlabhq-@SLOT@.target

[Service]
User=git
Environment="GITALY_ARGS=/etc/gitlab-gitaly-@SLOT@/config.toml"
WorkingDirectory=@DEST_DIR@
ExecStart=@BASE_DIR@/gitlab-gitaly-@SLOT@/bin/gitaly ${GITALY_ARGS}
