[Unit]
Description=Gitlab MailRoom
Requires=gitlabhq-@SLOT@-@WEBSERVER@.service
After=gitlabhq-@SLOT@-@WEBSERVER@.service
PartOf=gitlabhq-@SLOT@.target

[Service]
User=git
Environment=RAILS_ENV=production
WorkingDirectory=@DEST_DIR@
SyslogIdentifier=gitlab-mailroom
PIDFile=@TMP_DIR@/pids/gitlab-mailroom.pid
ExecStart=@DEST_DIR@/bin/bundle exec "mail_room -q -c @CONF_DIR@/mail_room.yml"
